body,
html {
    height: 100vh !important;
}

body {
    place-items: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

svg {
    /* width: 100px;
    height: 100%; */
    /* object-fit: cover; */
    -webkit-box-reflect: 1px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(10deg);
    transition: 0.5s;
    /* cursor: grabbing; */
}

.skills-container:hover svg {
    opacity: 0.2;
}

.skills-container svg:hover {
    transform: perspective(800px) rotateY(20deg);
    opacity: 1;
}