body,
html {
    height: 100vh !important;
}

body {
    place-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    -webkit-box-reflect: 1px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(10deg);
    transition: 0.5s;
    cursor: grabbing;
}

.container:hover img {
    opacity: 0.2;
}

.container img:hover {
    transform: perspective(800px) rotateY(20deg);
    opacity: 1;
}