body {
    place-items: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

svg {
    -webkit-box-reflect: 1px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transition: 0.5s;
}

.skills-container:hover svg {
    opacity: 0.2;
}

.skills-container svg:hover {
    opacity: 1;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, .7));
}